$color-light: #FFFFFF;
$color-dark: #212042;
$color-green: #C8FF29;
$color-purple: #C5AFFF;

$fz-title: 2em;
$fz-text: 20px;

@mixin scroll() {
  overflow-x: overlay!important;
  overflow-y: overlay!important;
  scrollbar-width: 3px!important;
  scrollbar-height: 3px!important;
  scrollbar-color: $color-green transparent!important;

  &::-webkit-scrollbar {
    width: 4px!important;
    height: 4px!important;
    background: transparent!important;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px!important;
    background: $color-green!important;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: $color-green!important;
  }
}

:root {
  --index: calc(1vh + 1vw);
}
